{% include 'parts/head.liquid' %}
{% include 'parts/menu.liquid' %}





		<!-- Call Section -->
		<section id="call-section" class="call-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12 text-center space-25 h6 text-neutral-3">
						Mon - Sat: 8am - 5pm, Sun: Closed<span class="hide-small"> |</span> <a href="tel:000.000.0000" class="text-blue">Call: 281.447.9607</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Call Section -->





		<!-- Finder Section -->
		<section id="finder-section" class="finder-section space-300-top-bottom">
			<div class="container">
				<div class="logo row text-center">
					<div class="columns small-12 medium-6 large-4">
						<img src="media/fmap-logo-color.png">
					</div>
				</div>
				<form action="" class="form-box block">
					<div class="row space-100-top">
						<div class="columns small-12 medium-4 large-3 space-25-left-right">
							<label class="form-field block">
								<span class="form-label label text-uppercase strong text-blue-dark fill-white space-min">Make</span>
								<input type="text" class="input-field block">
							</label>
						</div>
						<div class="columns small-12 medium-4 large-3 space-25-left-right">
							<label class="form-field block">
								<span class="form-label label text-uppercase strong text-blue-dark fill-white space-min">Model</span>
								<input type="text" class="input-field block">
							</label>
						</div>
						<div class="columns small-12 medium-4 large-3 space-25-left-right">
							<label class="form-field block">
								<span class="form-label label text-uppercase strong text-blue-dark fill-white space-min">Year</span>
								<input type="text" class="input-field block">
							</label>
						</div>
						<div class="columns small-12 large-3 space-25-left-right">
							<label class="form-field block">
								<span class="form-label label text-uppercase strong text-blue-dark fill-white space-min invisible">Next</span>
								<button type="submit" class="block fill-blue text-white">Find</button>
							</label>
						</div>
						<div class="columns small-12 h5 font-h strong em text-center text-blue-dark space-100-top">Find Used OEM Parts at the Best Price in the USA!</div>
					</div>
				</form>
			</div>
		</section>
		<!-- END: Finder Section -->




		<!-- Intro Section -->
		<section id="intro-section" class="intro-section fill-blue-dark shadow-blue-150 space-300-top-bottom" style="background-image: linear-gradient(165deg, var(--blue-dark)0 35%, var(--blue) 98% 100%);">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="columns small-12 medium-6 large-4 font-h em text-white"><span class="h4">Your One-Stop Shop for</span> <div class="h2 strong">High-Quality <br><span class="js-fmap-text text-red"></span></div></div>
					</div>
					<div class="car"><img src="media/ai-red-honda-car.png"></div>
				</div>
			</div>
		</section>
		<script>
			var typing=new Typed(".js-fmap-text", {
				strings: ["", "Engines", "Brakes", "Drive-trains", "Body Parts", "Interior Parts", "Electronics"],
				typeSpeed: 100,
				backSpeed: 40,
				loop: true,
			});
		</script>
		<!-- END: Intro Section -->




		<!-- Categories Section -->
		<section id="categories-section" class="categories-section space-300-top">
			<div class="container">
				<div class="row">
					<div class="columns small-12 text-center space-100-bottom">
						<div class="title h3 font-h em strong text-blue-dark">Top Categories</div>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12 medium-6 large-4 space-25">
						<div class="card radius-25 fill-white space-75 shadow-blue-50" style="background-image: url('https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg'), linear-gradient(135deg, var(--blue-dark)0 35%, var(--red) 98% 100%);">
							<div class="h4 font-h strong em text-white space-25 inline">Engines</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-4 space-25">
						<div class="card radius-25 fill-white space-75 shadow-blue-50" style="background-image: url('https://images.pexels.com/photos/3642618/pexels-photo-3642618.jpeg'), linear-gradient(135deg, var(--blue-dark)0 35%, var(--red) 98% 100%);">
							<div class="h4 font-h strong em text-white space-25 inline">Brakes</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-4 space-25">
						<div class="card radius-25 fill-white space-75 shadow-blue-50" style="background-image: url('https://images.pexels.com/photos/38637/car-audi-auto-automotive-38637.jpeg'), linear-gradient(135deg, var(--blue-dark)0 35%, var(--red) 98% 100%);">
							<div class="h4 font-h strong em text-white space-25 inline">Body panels</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-4 space-25">
						<div class="card radius-25 fill-white space-75 shadow-blue-50" style="background-image: url('https://images.pexels.com/photos/3778769/pexels-photo-3778769.jpeg'), linear-gradient(135deg, var(--blue-dark)0 35%, var(--red) 98% 100%);">
							<div class="h4 font-h strong em text-white space-25 inline">Interiors</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-4 space-25">
						<div class="card radius-25 fill-white space-75 shadow-blue-50" style="background-image: url('https://images.pexels.com/photos/7568427/pexels-photo-7568427.jpeg'), linear-gradient(135deg, var(--blue-dark)0 35%, var(--red) 98% 100%);">
							<div class="h4 font-h strong em text-white space-25 inline">Transmission</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-4 space-25">
						<div class="card radius-25 fill-white space-75 shadow-blue-50" style="background-image: url('https://images.pexels.com/photos/6473244/pexels-photo-6473244.jpeg'), linear-gradient(135deg, var(--blue-dark)0 35%, var(--red) 98% 100%);">
							<div class="h4 font-h strong em text-white space-25 inline">Electronics</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Categories Section -->




		<!-- Trust Section -->
		<section id="trust-section" class="trust-section space-300-top-bottom">
			<div class="container">
				<div class="row">
					<div class="columns small-12 text-center space-100-bottom">
						<div class="h3 font-h strong em text-blue-dark">Why choose us</div>
						<div class="h6 text-blue-dark">for your used OEM auto parts</div>
					</div>
					<div class="columns small-12 medium-6 large-3 space-25">
							<div class="card radius-25 fill-white space-100 shadow-blue-50">
							<div class="h5 font-h strong em text-blue space-min-bottom">Huge Savings</div>
							<div class="p text-neutral-5">Up to 50% off dealer prices!</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-3 space-25">
							<div class="card radius-25 fill-white space-100 shadow-blue-50">
							<div class="h5 font-h strong em text-blue space-min-bottom">Global Network</div>
							<div class="p text-neutral-5">Verified sellers with parts for all makes & models.</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-3 space-25">
							<div class="card radius-25 fill-white space-100 shadow-blue-50">
							<div class="h5 font-h strong em text-blue space-min-bottom">BLITZ Quality</div>
							<div class="p text-neutral-5">Every part is inspected & assured to meet our standards.</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 large-3 space-25">
							<div class="card radius-25 fill-white space-100 shadow-blue-50">
							<div class="h5 font-h strong em text-blue space-min-bottom">Expert Support</div>
							<div class="p text-neutral-5">Our team is here to help you find exactly what you need.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12 space-100-top-bottom space-25-left-right">
						<div class="rating row radius-25 fill-white space-100 shadow-blue-50">
							<div class="columns small-12 medium-6">
								<div class="h5"><img src="media/google_logo.svg" class="google inline-middle"> Ratings</div>
							</div>
							<div class="columns small-12 medium-6">
								<div class="p headline">Average rating of recent reviews</div>
								<div class="p">4.7 &nbsp;<img src="media/fourpointsevenstarrating.png" class="inline" style="width: 120px; transform: translateY(10%);">&nbsp; 428 reviews</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Trust Section -->




		<!-- Blank Section -->
		<section id="blank-section" class="blank-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
					</div>
				</div>
			</div>
		</section>
		<!-- END: Blank Section -->




		<!-- Blank Section -->
		<section id="blank-section" class="blank-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
					</div>
				</div>
			</div>
		</section>
		<!-- END: Blank Section -->



		<!-- Sample Section -->
		<section id="sample-section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->



{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
